attrs==24.3.0
backcall==0.2.0
bleach==6.2.0
certifi==2024.12.14
chardet==5.2.0
cycler==0.12.1
decorator==4.4.2
defusedxml==0.7.1
eagerpy==0.30.0
entrypoints==0.4
foolbox==3.3.4
gitdb2==4.0.2
GitPython==3.1.44
idna==3.10
imageio==2.37.0
importlib-metadata==8.5.0
ipykernel
ipyplot==1.1.2
ipython
ipython-genutils==0.2.0
ipywidgets==8.1.5
jedi==0.19.2
Jinja2==3.1.5
joblib==1.4.2
jsonschema==4.23.0
jupyter==1.1.1
jupyter-client==7.4.9
jupyter-console==6.0.0
jupyter-core==5.7.2
kiwisolver==1.4.8
MarkupSafe==3.0.2
matplotlib==3.10.0
mistune==3.1.0
nbconvert==7.16.5
nbformat==5.10.4
notebook==6.5.5
numpy==1.26.4
pandas==2.2.2
pandocfilters==1.5.1
parso==0.8.4
patsy==1.0.1
pexpect==4.9.0
pickleshare==0.7.5
Pillow==11.1.0
prometheus-client==0.21.1
prompt-toolkit
ptyprocess==0.7.0
Pygments==2.19.1
pyparsing==3.2.1
pyrsistent==0.20.0
pytz==2024.2
python-dateutil==2.9.0
pyzmq
qtconsole==5.6.1
requests==2.32.3
scikit-learn==1.6.1
scipy==1.13.1
Send2Trash==1.8.3
six==1.17.0
sklearn==0.0
smmap2==3.0.1
statsmodels==0.14.4
terminado==0.18.1
testpath==0.6.0
torch==2.5.1
torchvision==0.20.1
tornado
traitlets==5.14.3
typing-extensions==4.12.2
urllib3==2.3.0
wcwidth==0.2.13
webencodings==0.5.1
widgetsnbextension==4.0.13
zipp==3.21.0